<%= form_for [@survey_name, @question] do |f| %>
<% if @question.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>question

  <ul>
    <% @question.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  Name<br />
  <%= f.text_field :name %>
</div>
<div class="field">
  data type<br />
  <%= f.select :custom_field_id, CustomField.all.collect {|p| [ p.name, p.id ] } %>
</div>
<div class="field">
  Options<br />
  <%= f.text_area :options %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
