<h1>Listing custom_fields</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @custom_fields.each do |custom_field| %>
  <tr>
    <td><%= custom_field.name %></td>
    <td><%= link_to 'Show', custom_field %></td>
    <td><%= link_to 'Edit', edit_custom_field_path(custom_field) %></td>
    <td><%= link_to 'Destroy', custom_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Custom field', new_custom_field_path %>
