<h1>Listing survey_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @survey_names.each do |survey_name| %>
  <tr>
    <td><%= survey_name.name %></td>
    <td><%= link_to 'Show', survey_name %></td>
    <td><%= link_to 'Edit', edit_survey_name_path(survey_name) %></td>
    <td><%= link_to 'Destroy', survey_name, method: :delete, data: { confirm: 'Are you sure?' } %> |</td>
    <td><%= link_to "Take Survey" , new_survey_name_answer_path(survey_name) %> |</td>
    <td><%= link_to 'Results', survey_name_questions_path(survey_name) %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Survey name', new_survey_name_path %>
