<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey_name.name %>
</p>

<br />
<% @survey_name.questions.all.each do |que| %>
<%= que.name %>
<%= que.custom_field.name %>
<%= link_to 'edit',edit_survey_name_question_path(@survey_name, que) %>
<br />
<% end %>

<%= link_to "Questions" ,new_survey_name_question_path(@survey_name) %> |

<%= link_to 'Edit', edit_survey_name_path(@survey_name) %> |
<%= link_to 'Back', survey_names_path %>
