<%= form_for [@survey_name, @answer] do |f| %>
<% if @answer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>answer

  <ul>
    <% @answer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<% @survey_name.questions.each do |question| %>
<div class="field">
  <%= question.name %> <br />
  <%= get_field_tag(question) %>
</div>
<% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
